extends layout

block content
    #screen
    script(src="https://code.jquery.com/jquery-2.1.1.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")
    script(src="https://fb.me/react-with-addons-0.13.3.js")
    script(src="https://fb.me/JSXTransformer-0.13.3.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/react-router/0.13.3/ReactRouter.js")
    script(src="/javascripts/ui.js" type="text/jsx")
